// Here you can add other styles
.btn-add-dash {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.wrapper-form {
  display: flex;
  justify-content: center;

  form {
    width: 600px;
  }
}
.form-upload {
  .btn-upload {
    display: flex;
    align-items: center;
  }
  .preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-bottom: 12px;
    .infor {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    > button {
      background-color: transparent;
      border: none;
    }
  }
}
.drops-attr {
  min-width: 100px;
}

.image-custom {
  max-width: 300px;
}
.ant-table-cell {
  font-size: 14px;
  text-transform: capitalize;
}

.Toastify__toast-body {
  > div {
    text-transform: capitalize;
  }
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
  > a {
    display: block;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.ant-modal-footer {
  .ant-btn-primary {
    background-color: #ff4d4f !important;
  }
}

.title-modal-custom {
  display: flex;
  align-items: center;
  gap: 8px;
  img {
    width: 30px;
  }
  span {
    font-size: 16px;
    font-weight: 500;
  }
}

.ant-form-item-control-input-content {
  position: relative;
}

.btn-open-form-add {
  position: absolute;
  right: 0;
  z-index: 1;
  top: -100%;
  top: calc(-100% - 5px);
  padding: 5px;
  color: #000;
  .btn-icon-add {
    cursor: pointer;
  }
}
